*,*::after,*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
    display: inline-block;
}

ul li {
    display: inline-block;
}

a {
    text-decoration: none;
}

.header {
   background-color: #1c3b7a; 
}

.nav-top {
    position: relative;
    height: 50px;
    line-height: 50px;
}

.secondary-header {
    background-color: #fff;
}

.menu-link {
    color:#fff
}

.login {
    position: absolute;
    display: inline-block;
    right: 0;
}

.login a {
   color: #fff; 
}

.back-to-top {
    color: #1c3b7a;
    margin-left: 50px;
    background-color: #fff;
    width: 40px;
    height: 50px;
    display: inline-block;
    line-height: 50px;
    text-align: center;
}



